*{
   font-family: 'Crimson Pro', serif;
}

#brand{
   height: 45px;
   width: 140px;
}

#landing{
   background-image: url(./images/land.jpg);
    background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

#spacer{
   height: 155px;
}

#aboutme{
   background-image: url(./images/about.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

#tup{
     background-image: url(./images/dashboard.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 300px;

}


#banner{
    background-color: #00B4D8;
}


div .card{
    display: inline-block;
}

#projects{
   background-color: gray;
}

#street{
   background-image: url(./images/edsa.jpg);
    background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

#map {
   width: 100%;
   display: block;
   border: none;
   height: 70vh;
   border-radius: 10px;
}

div #bet{
   height: 150px;
}

#iconic{
   color: white;
}

#proj{
   background-image: url(./images/proj.jpg);
}