

/*landing page css*/
#land-page{
	background-image: url(./images/weld.jpg);
	/*stretches the image to cover the whole element*/
	background-size: cover;
}

#firstPage{
	font-family: 'Open Sans', sans-serif;
}
